{{!-- Copyright (C) 2023 Andrew Voynov. See license in LICENSE file or at
https://www.gnu.org/licenses/agpl-3.0.txt --}}
<div class="calendar"{{#if month}} data-month="{{month}}"{{/if}}>
  <div class="header">
    {{#if show-arrows}}
    <img class="arrow left" src="/static/images/Стрелка маленькая left.svg" />
    {{/if}}
    <div class="center">
      <h6 class="month-year-text">{{month-year-text}}</h6>
    </div>
    {{#if show-arrows}}
    <img class="arrow right" src="/static/images/Стрелка маленькая right.svg" />
    {{/if}}
  </div>
  <div class="row">
    <h6 class="cell">Пн</h6>
    <h6 class="cell">Вт</h6>
    <h6 class="cell">Ср</h6>
    <h6 class="cell">Чт</h6>
    <h6 class="cell">Пт</h6>
    <h6 class="cell">Сб</h6>
    <h6 class="cell">Вс</h6>
  </div>
  {{#each cell-matrix}}
  <div class="row">
    {{#each this}}
    <h6 class="cell">{{this}}</h6>
    {{/each}}
  </div>
  {{/each}}
</div>
