{{!-- Copyright (C) 2023 Andrew Voynov. See license in LICENSE file or at
https://www.gnu.org/licenses/agpl-3.0.txt --}}
<div class="calendar">
  <div class="header">
    {{#if show-arrows}}
    <img class="arrow left" src="/static/images/Стрелка маленькая left.svg" />
    {{/if}}
    <div class="center">
      <h6 class="month-year-text"></h6>
    </div>
    {{#if show-arrows}}
    <img class="arrow right" src="/static/images/Стрелка маленькая right.svg" />
    {{/if}}
  </div>
  <div class="row">
    {{#each week-day-names}}
    <div class="cell-wrapper">
      <h6 class="cell">{{this}}</h6>
    </div>
    {{/each}}
  </div>
  {{#clone 6}}
  <div class="row with-digits">
    {{#clone 7}}
    <div class="cell-wrapper">
      <h6 class="cell"></h6>
    </div>
    {{/clone}}
  </div>
  {{/clone}}
</div>
