{{!-- Copyright (C) 2023 Andrew Voynov. See license in LICENSE file or at
https://www.gnu.org/licenses/agpl-3.0.txt --}}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/styles/main.css" />
  {{#if (development)}}
  <script type="text/javascript" src="/static/js/live.js"></script>
  {{/if}}
  <title>{{title}}</title>
</head>
