{{!-- Copyright (C) 2023 Andrew Voynov. See license in LICENSE file or at
https://www.gnu.org/licenses/agpl-3.0.txt --}}
<!DOCTYPE html>
<html lang="en">
  {{> head title="Календарь"}}
  <body>
    {{#> calendar_container}}
    <div class="select-period-text">
      Выберите интересующий период отчетности
    </div>
    <div class="selectors">{{#each selectors}} {{> selector}} {{/each}}</div>
    {{/ calendar_container}}
    <script type="text/javascript" src="/static/js/selectors.js"></script>
  </body>
</html>
