{{!-- Copyright (C) 2023 Andrew Voynov. See license in LICENSE file or at
https://www.gnu.org/licenses/agpl-3.0.txt --}}
<!DOCTYPE html>
<html lang="en">
  {{> head title="Календарь"}}
  <body>
    {{#> calendar_container}}
    <div class="try-horizontal-flex">
      {{> calendar calendar}}
      <div class="right">
        <h3 class="report-period">Отчётность за {{month}} {{year}} г.</h3>
        <ol class="report-list">
          {{#each reports}} {{> report}} {{/each}}
        </ol>
      </div>
    </div>
    {{/ calendar_container}}
  </body>
</html>
