{{!-- Copyright (C) 2023 Andrew Voynov. See license in LICENSE file or at
https://www.gnu.org/licenses/agpl-3.0.txt --}}
<!DOCTYPE html>
<html lang="en">
  {{> head title="Календарь"}} {{#> body_container}} {{#> calendar_container}}
  <h3 class="report-period">Отчётность за {{month}}.{{year}}</h3>
  {{> calendar calendar}} {{/ calendar_container}} {{/ body_container}}
</html>
