{{!-- Copyright (C) 2023 Andrew Voynov. See license in LICENSE file or at
https://www.gnu.org/licenses/agpl-3.0.txt --}}
<!DOCTYPE html>
<html lang="en">
  {{> head title="Календарь"}}
  <body>
    {{#> calendar_container}}
    <div class="calendars">{{#each calendars}} {{> calendar}} {{/each}}</div>
    <h3 class="report-period">Отчётность за Q{{quarter}} {{year}} г.</h3>
    <ol class="event-list">
      {{#each events}} {{> event}} {{/each}}
    </ol>
    {{/ calendar_container}}
    <script type="text/javascript" src="/static/js/quarter.js"></script>
  </body>
</html>
