{{!-- Copyright (C) 2023 Andrew Voynov. See license in LICENSE file or at
https://www.gnu.org/licenses/agpl-3.0.txt --}}
<!DOCTYPE html>
<html lang="en">
  {{> head title="Календарь"}}
  <body>
    {{#> calendar_container}} {{> year_changer}} {{> quarter_changer}}
    <div class="calendars">{{#each calendars}} {{> calendar}} {{/each}}</div>
    {{#each grouped_events}}
    <h3 class="report-period"></h3>
    <ol class="event-list">
      {{#each this}} {{> event}} {{/each}}
    </ol>
    {{/each}} {{/ calendar_container}}
    <script type="text/javascript" src="/static/js/quarter.js"></script>
  </body>
</html>
